body {
  font-family: 'Outfit', sans-serif;
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}
.container {
  background-color: #fff;
  width: 280px;
  padding: 1rem;
  border-radius: .8rem;
  margin: auto;
  margin-top: 200px;
}
.container img {
  max-width: 100%;
  border-radius: .8rem;
}
.container h2 {
  color:hsl(218, 44%, 22%);
  font-weight: bold;
  line-height: 1.5;
  font-size: 1.3rem;
  padding: 1rem;
}
.container p{
  font-size: 15px;
  color:hsl(220, 15%, 55%);
}
.attribution {
  margin-top: 50px;
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}
